@import '~@fluentui/react/dist/sass/References.scss';

* {
  box-sizing: border-box;
}

.frvIntranet2025WebPart {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
  display: block;
  position: fixed;
  top: 72px;
  right: 20px;
  color: #ffffff;
  z-index: 1;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.helpToolbar{
  display: block;
  cursor: pointer;
  position: fixed;
  right: 19px;
  bottom: 50px;  
  .item{
    padding:5px;  
    text-align: center;
    color: white;
    background-color: #0c2340;  
    border-color: rgb(255, 255, 255);
    border-width: thin;
    border-style: solid;
    .icon
    {
      width: 100%;
      max-width: 30px;
    }
  }
}

.message{
  text-align: center;
  display: block;
  position: fixed;
  bottom: 8px; 
  color: white;
}